.volvocontainer{
    display: flex;
    justify-content: space-around;
   
    flex-wrap: wrap;
    height: auto;

    h1{
          padding-bottom: 30px;
    }
}

.voloingermany{
    width: 45%;
     margin: 20px 5px;
      p{
        padding-bottom: 20px;
    }
}

.aboutVolvo{
    width: 45%;
     margin: 20px 5px;
      p{
        padding-bottom: 20px;
    }
}

@media (max-width: 412px){
    .volvocontainer{
        flex-wrap: wrap;
        flex-direction: column;
          h1{
            font-size: 25px;
          }
    }

    .voloingermany{
        width: 100%;
    }

    .aboutVolvo{
        width: 100%;
    }
}
