

.flex2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 1197px){
    .flex2{
        display: none;
    }

    
.all{
   display: none;
}
}
 

@media (max-width: 412px){
    .flex2{
   display: none;
}

.all{
    width: 100%;
}

}

  
