.profile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.profile{
    margin: 20px;
    img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        object-fit: cover;

    }

}

.rateing{
        border-bottom: none;
    }

.h11{
    font-family: sans-serif;
    text-align: center;
    margin: 70px 0px;
}
@media (max-width: 412px){
    .h11{
        font-size: 30px;
    }
}