.cookie-body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 200px;
   
    h1{
        padding-bottom: 20px;
    }
    h2{
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 19px;
    }
    ul{
        padding-bottom: 19px;
    }
    hr{
        margin: 15px 0px;
    }

    li{
        padding-bottom: 8px;
    }

    button{
        padding: 10px 20px;
        margin: 10px 0px;
        font-size: 16px;
        background-color: rgb(80, 78, 78);
        color: white;
        border: none;
        border-radius: 5px;
    }

    a{
        color: black;
    }
}

.source{
    font-style: italic;
    color: rgb(136, 136, 242);
}

.what-are-cookies{
    span{
        border-bottom: none;
        /* font-size: 17px; */
        font-weight: 780;
    }
}

@media (max-width: 412px){
    .cookie-body{
        height: 113vh;
        margin: 15px;
        
        h1{
            font-size: 25px;
        }

        h2{
            font-size: 20px;
        }

        button{
            font-size: 12px;
        }
        p{
            font-size: 13px;
            
        }
    }
}