*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.carName{
    height: 20vh;
    width: 48%;
    padding: 8px;
    /* margin-top: 30px; */

    h1{
        padding-bottom: 32px;
       
    }
}

.carLogo{
     /* margin-top: 30px; */
    width: 48%;
    padding: 8px;

}


.nameinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* width: 50%; */
     padding: 3px 3px;
     border-bottom: 0.5px solid black;
     border-top: 0.5px solid black;
}

.yearinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* width: 50%; */
    padding: 3px 3px;
    border-bottom: 0.5px solid black;
}

.serieinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* width: 50%; */
     padding: 3px 3px;
     border-bottom: 0.5px solid black;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
   
    width: 100%;
    
}



@media (max-width: 412px){

    .flex{
        
        padding: 0%;
        margin: 0%;
    }
    .carName{
        h1{
            font-size: 50px;
        }
    }
    
        h1{
            font-size: 23px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
}